<!--
  Generated template for the ProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="app-default-bar">

  <ion-navbar>
    <ion-title>Product Description</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-grid>
    <ion-row>

      <!-- Slider -->
      <ion-col col-xl-8 col-md-12>
        <ion-slides #slides [pager] ="false" [slidesPerView]="1" class="app-slider">
          <ion-slide>
              <img class="rnd-sqr" src="assets/img/feed-pic-1.jpg" alt="">
          </ion-slide>
          <ion-slide>
              <img class="rnd-sqr" src="assets/img/feed-pic-2.jpg" alt="">
          </ion-slide>
          <ion-slide>
              <img class="rnd-sqr" src="assets/img/feed-pic-3.jpg" alt="">
          </ion-slide>
        </ion-slides>
      </ion-col>
      <!-- Slider -->

      <!-- Product -->
      <ion-col col-12 col-md-12 col-lg-4 col-xl-4>
        <div class="product-meta">
          <h1 class="page-title primary-font">
            <span class="secondary-font">$25</span>
            | Samsbury Recipie
          </h1>
          <h6>
            <span class="tag">Breakfast</span>
            <span class="tag">Brunch</span>
            <span class="tag">Brinner</span>
          </h6>

          <button ion-button round>Add to Cart</button>
        </div>
      </ion-col>
      <!-- Product -->

      <!-- Product Description -->
      <ion-col col-12 col-md-12 col-lg-8 col-xl-12>
        <!-- <button round class="order-btn primary-font">Add to cart</button> -->
        <div class="product-content primary-font">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum.</p>
          </div>
      </ion-col>
      <!-- Product Description -->
    </ion-row>

    <!-- Related Items -->
    <ion-row>
      <ion-col col-12 class="product-meta">
        <h1 class="page-title primary-font">Related Items</h1>
      </ion-col>
      <ion-col col-md-12>
        <ion-row class="">
          <ion-col col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2>
            <div class="product-item">
              <img class="rnd-sqr" src="assets/img/mobile-feed-pic-1.jpg" alt="">
              <div class="meta primary-font">
                <h6 no-margin><span class="secondary-font">$25</span> | Some Food name</h6>
              </div>
            </div>
          </ion-col>
          <ion-col col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2>
            <div class="product-item">
              <img class="rnd-sqr" src="assets/img/mobile-feed-pic-2.jpg" alt="">
              <div class="meta primary-font">
                <h6 no-margin><span class="secondary-font">$25</span> | Some Food name</h6>
              </div>
            </div>
          </ion-col>
          <ion-col col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2>
            <div class="product-item">
              <img class="rnd-sqr" src="assets/img/mobile-feed-pic-3.jpg" alt="">
              <div class="meta primary-font">
                <h6 no-margin><span class="secondary-font">$25</span> | Some Food name</h6>
              </div>
            </div>
          </ion-col>
          <ion-col col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2>
            <div class="product-item">
              <img class="rnd-sqr" src="assets/img/mobile-feed-pic-4.jpg" alt="">
              <div class="meta primary-font">
                <h6 no-margin><span class="secondary-font">$25</span> | Some Food name</h6>
              </div>
            </div>
          </ion-col>
          <ion-col col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2>
            <div class="product-item">
              <img class="rnd-sqr" src="assets/img/mobile-feed-pic-5.jpg" alt="">
              <div class="meta primary-font">
                <h6 no-margin><span class="secondary-font">$25</span> | Some Food name</h6>
              </div>
            </div>
          </ion-col>
          <ion-col col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2>
            <div class="product-item">
              <img class="rnd-sqr" src="assets/img/mobile-feed-pic-6.jpg" alt="">
              <div class="meta primary-font">
                <h6 no-margin><span class="secondary-font">$25</span> | Some Food name</h6>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <!-- Related Items -->
  </ion-grid>

</ion-content>
